<!DOCTYPE html>
<html>
  <head>
    <title>Boxketball Scoreboard</title>    
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body id="body">
    <h1>Game State</h1>
    <div>
      <label>Game state:</label>
      <span id="state"></span>
    </div>
    <div>
      <label>Player Turn:</label>
      <span id="turn"></span>
    </div>
    <div>
      <label>Player Posession:</label>
      <span id="posession"></span>
    </div>
    <div>
      <label>Multiplier Hit:</label>
      <span id="multiplier"></span>
    </div>
    <h1>Scoreboard</h1>
    <div class="row" id="scoreboard">
      <div class="col-xs-6">
        <div>
          <label>Player:</label>
          <span>1</span>
        </div>
        <div>
          <label>Score:</label>
          <span id="p1_score"></span>
        </div>
        <div>
          <label>Balls Left:</label>
          <span id="p1_balls"></span>
        </div>
      </div>
      <div class="col-xs-6">
        <div>
          <label>Player:</label>
          <span>2</span>
        </div>
        <div>
          <label>Score:</label>
          <span id="p2_score"></span>
        </div>
        <div>
          <label>Balls Left:</label>
          <span id="p2_balls"></span>
        </div>
      </div>
    </div>
    <h1>Events</h1>
    <ul id="events">
    </ul>
  </body>
</html>
