<!DOCTYPE html>
<html>
  <head>
    <title>Boxketball Scoreboard</title>    
    <link rel="stylesheet" href="/stylesheets/css/reset.css" />
    <link rel="stylesheet" href="/stylesheets/css/fonts.css" />
    <link rel="stylesheet" href="/stylesheets/css/style.css" />
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body id="body">
    <!-- *** IDLE SCREEN *** -->    
    <div id="idle-screen">
      <div class="wrap">
        <!-- Logo -->
        <h2>dude, it's motherfuckin'</h2>
        <i class="icon-logo"></i>
        
        <!-- Options -->
        <ul>
          <li><i class="icon-player" style="visibility:hidden;"></i><i class="icon-player"></i> Press <span class="color red">red</span> for <span class="mode">Score Attack</span></i></li>
          <li><i class="icon-player"></i><i class="icon-player"></i> Press <span class="color green">green</span> for <span class="mode">Classic Mode</span></i></li>
        </ul>
      </div>
    </div>
    
    <!-- *** SCORE ATTACK *** -->
    <div id="score-attack" style="display: none;">
      <!-- Points -->
      <section class="points">
        <h2>Points</h2>
        <span id="sa_points"></span>
      </section>
      
      <!-- Timer -->
      <section class="timer">
        <h2><i class="icon-timer"></i> Time Left:</h2>
        <span id="sa_timeleft"></span>
      </section>   
      
      <!-- Countdown -->
      <div class="countdown">
        <h2>Get Ready!</h2>
        <span id="sa_countdown"></span>
      </div>             

      <div class="sa-game-over">
        Game Over
      </div>       
    </div>

    <!-- *** CLASSIC MODE *** -->    
    <div id="classic-mode" style="display: none;">
      <!-- P1 -->
      <section class="player" id="p1">
        <header>
          <h2>Player 1</h2>
        </header>
        
        <span class="score" id="p1_score"></span>
        
        <footer>
          <span class="balls-label">Balls Left</span>
          <span class="balls" id="p1_balls"></span>
        </footer>
      </section>
  
      <!-- P2 -->
      <section class="player" id="p2">
        <header>
          <h2>Player 2</h2>
        </header>
        
        <span class="score" id="p2_score"></span>
        
        <footer>
          <span class="balls-label">Balls Left</span>
          <span class="balls" id="p2_balls"></span>
        </footer>
      </section>
    
      <!-- Possession -->
      <div class="possession">
        <span class="pos-label">Possession</span>
        <i class="icon-pos-left" id="p1_pos"></i>
        <i class="icon-pos-right" id="p2_pos"></i>
      </div>

      <!-- Splash -->
      <div class="splash" style="display:none;">
        <span id="choosing">Choosing Start Player</span>
        <div class="rules">
          <h2>Classic Rules:</h2>
          <ol>
            <li>1. Alternate turns</li>
            <li>2. Stay seated</li>
            <li>3. Rebound for free ball</li>
            <li>4. Can't score same box twice</li>
            <li>5. Ball must reach far table</li>
            <li>6. MOST POINTS WINS</li>
          </ol>
        </div>          
      </div>      
      
      <div class="classic-game-over">
        <i class="icon-trophy"></i> <span id="game_winner">P1</span> Wins!
      </div>       
    </div>
    
    <!-- Event Flash -->
    <div id="events-flasher"></div>         
    
    <div style="display:none;">
    <h1>Game State</h1>
    <div>
      <label>Game state:</label>
      <span id="state"></span>
    </div>
    <div>
      <label>Player Turn:</label>
      <span id="turn"></span>
    </div>
    <div>
      <label>Player Posession:</label>
      <span id="posession"></span>
    </div>
    <div>
      <label>Multiplier Hit:</label>
      <span id="multiplier"></span>
    </div>
    <h1>Scoreboard</h1>
    <div class="row" id="scoreboard">
      <div class="col-xs-6">
        <div>
          <label>Player:</label>
          <span>1</span>
        </div>
        <div>
          <label>Score:</label>
          <span id="p1_score"></span>
        </div>
        <div>
          <label>Balls Left:</label>
          <span id="p1_balls"></span>
        </div>
      </div>
      <div class="col-xs-6">
        <div>
          <label>Player:</label>
          <span>2</span>
        </div>
        <div>
          <label>Score:</label>
          <span id="p2_score"></span>
        </div>
        <div>
          <label>Balls Left:</label>
          <span id="p2_balls"></span>
        </div>
      </div>
    </div>
    <h1>Events</h1>
    <ul id="events">
    </ul>
    </div>
  </body>
</html>
