/* =========================================================================
   Colors & Shades
   ========================================================================== */
/* ==========================================================================
   Fonts
   ========================================================================== */
/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Mixins (for animation edition!)
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Grid
   ========================================================================== */
/* ==========================================================================
   Body & Wrapper
   ========================================================================== */
body {
  background: #000;
  color: #fff;
  width: 100vw;
  height: 100vh;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 23px;
  line-height: 2.3rem;
  font-family: '8bit';
  position: relative; }

/* ==========================================================================
   App Header
   ========================================================================== */
.app-header {
  background: #ff2949;
  color: #000;
  font-size: 40px;
  font-size: 4rem;
  padding: 15px 0;
  height: 70px;
  display: none; }

/* ==========================================================================
   Classic Mode
   ========================================================================== */
.player {
  position: absolute;
  top: 0;
  bottom: 0; }
  .player#p1 {
    left: 0;
    right: 50%;
    border-right: 10px solid #ff2949; }
  .player#p2 {
    left: 50%;
    right: 0;
    border-left: 10px solid #ff2949; }
  .player header .emoji {
    float: left;
    font-size: 30px;
    font-size: 3rem;
    color: #ffff00;
    margin-right: 15px; }
  .player header h2 {
    font-family: 'highfive', sans-serif;
    font-size: 30px;
    font-size: 3rem;
    color: #fff; }
