/*
//      _/      _/    _/_/    _/_/_/  _/      _/
//     _/_/  _/_/  _/    _/    _/    _/_/    _/
//    _/  _/  _/  _/_/_/_/    _/    _/  _/  _/
//   _/      _/  _/    _/    _/    _/    _/_/
//  _/      _/  _/    _/  _/_/_/  _/      _/
*/

@import "mixins";
@import "animations";

/* ==========================================================================
   Body & Wrapper
   ========================================================================== */
   
body { background: #000; color: #fff; width: 100vw; height: 100vh; text-align: center; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; @include font-size(1.4,2.3); @include oldskool; position: relative; }

/* ==========================================================================
   Idle Screen
   ========================================================================== */

#idle-screen {
  position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #000; color: #fff;
  .wrap {
    @include align(both);
    h2 { display: block; @include oldskool; @include font-size(7,7.5); color: #fff; font-weight: normal; text-align: center; padding-bottom: 15px; color: $yellow; }
    i.icon-logo { @include font-size(14); color: #fff; animation: rainbow 1s infinite; }
    ul {
      @include plain; text-align: center; margin-top: 70px;
      li { 
        @include plain; display: inline-block; width: 830px; @include oldskool; @include font-size(6,6.5); padding-top: 25px; text-align: left; white-space: nowrap;
        i { @include font-size(3,5); &:nth-of-type(2) { margin-right: 15px; } }
        .color, .mode { text-transform: uppercase; }
        .color.red { color: #f00; }
        .color.green { color: $green; }
      }
    }
  }
}

/* ==========================================================================
   Classic Mode
   ========================================================================== */
   
.player {
  position: absolute; top: 0; bottom: 0; @include transition;
  &#p1 { left: 0; right: 50%; border-right: 5px solid $pink; }
  &#p2 { left: 50%; right: 0; border-left: 5px solid $pink; }

  header {
    padding: 25px;
    h2 { display: block; @include oldskool; @include font-size(8,9.5); color: #fff; font-weight: normal; text-transform: uppercase; text-align: center; }
  }
  &#p1 header, &#p1 footer { text-align: left; }
  &#p2 header, &#p2 footer { text-align: right; }

  .score { @include font-size(40,41); }
  
  footer {
    padding: 25px;
    .balls-label { @include font-size(4); }
    .balls { 
      display: block; color: #F29E30; padding-top: 15px;
      i { 
        margin-right: 15px; @include font-size(4); color: #F29E30; 
        &:last-of-type { margin-right: 0; }
      } 
    }
  }    
}

.splash {
  position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #000; color: #fff; text-align: center;
  .rules {
    width: 700px; padding-top: 65px; margin: 0 auto; @include oldskool; text-align: left;
    h2 { color: $yellow; @include oldskool; @include font-size(5.7); font-weight: normal; padding-bottom: 25px; }
    ol {
      @include plain;
      li {
        @include plain; padding: 25px 0; @include font-size(5.7); white-space: nowrap;
      }
    }
  }
  #choosing {
    background: $teal; color: #000; display: block; @include oldskool; @include font-size(8,8.5); font-weight: normal; text-transform: uppercase; text-align: left; padding: 5px 25px; color: #000;
    &:after { overflow: hidden; position: relative; display: inline-block; vertical-align: bottom; animation: ellipsis steps(4,end) 1.5s infinite; content: "\2026"; width: 0px; }
  }
}

.event {
  position: absolute; z-index: 1; top: 0; left: 0; bottom: 0; right: 0; @include transition; color: #000; opacity: 0;
  .wrap { @include align(both); }
  &#event-steal { background: $green; }
  &#event-miss { background: $pink; }
  &#event-hoop { background: $teal; }
  &#event-multiply { background: $yellow; }
  &#event-overtime { background: $orange; }
  i { 
    display: block; text-align: center; @include font-size(25,25);
  }
  .event-text { 
    display: block; @include oldskool; @include font-size(20,20); color: #000; text-align: center; padding-top: 40px; white-space: nowrap;
  }
  &.active {
    opacity: 1; animation-name: fadeOut; animation-duration: 1.5s; animation-timing-function: ease-out; animation-delay: .2s; animation-iteration-count: 1; animation-fill-mode: forwards;
    &#event-hoop,
    &#event-overtime { animation-delay: 1s; }
    i.icon-question { animation-name: spinIt; animation-duration: 1s; animation-iteration-count: 1; }
  }
}

.possession {
  display: block; @include align(horizontal); padding: 15px 20px; top: 0; text-align: center; color: #000; background: $pink; height: 150px; width: 150px; opacity: 1; @include transition;
  .pos-label { display: none; @include font-size(3.2); text-transform: uppercase; }
  i { 
    @include align(horizontal); @include font-size(8); top: 30px; display: block; text-align: center; color: #000; opacity: 0;
  }
}

.classic-game-over,
.sa-game-over {
  position: absolute; background: #000; color: #fff; left: 0; right: 0; bottom: 0; @include font-size(10,10); text-align: center; opacity: 0; padding: 35px 0; @include transition; animation: rainbow 1s infinite;
  i { @include font-size(5,10); }
}

#classic-mode.game-over {
  .classic-game-over { opacity: 1; }
  .player { border-color: rgba(0,0,0,0) !important; header h2 { color: #fff !important; } }
  .possession { opacity: 0; }
}

#score-attack.game-over {
  .sa-game-over { opacity: 1; }
}

#classic-mode.pos-1 {
  .possession i.icon-pos-left { opacity: 1; }
  .player#p1 header h2 { color: $yellow; }
}

#classic-mode.pos-2 {
  .possession i.icon-pos-right { opacity: 1; }
  .player#p2 header h2 { color: $yellow; }
}

/* ==========================================================================
   Score Attack
   ========================================================================== */
   
#score-attack {
  .points {
    display: block; padding: 25px;
    h2 { display: block; @include oldskool; @include font-size(8,8.5); color: #fff; font-weight: normal; text-transform: uppercase; text-align: center; }
    #sa_points { @include font-size(40,42); }
  }
  
  .timer {
    display: block;
    h2 { 
      display: inline-block; @include oldskool; @include font-size(6,8); color: #fff; margin-right: 30px; color: $yellow; font-weight: normal;
      i { @include font-size(4.5,10); position: relative; top: 3px; }
    }
    #sa_timeleft { 
      display: inline-block; @include font-size(10,10); width: 185px; text-align: left; 
      &.expiring,
      &.expiring-faster { 
        color: $pink; animation-name: pulse; animation-duration: .8s; animation-fill-mode: both; animation-iteration-count: infinite;
      }
      &.expiring-faster { animation-duration: .4s; }
      &.expired {
        color: $pink; animation-duration: 1.5s; animation-fill-mode: forwards; animation-iteration-count: 1; animation-name: hinge;
      }
    }
  }  

  .countdown {
    position: absolute; z-index: 1; background: $pink; top: 0; left: 0; bottom: 0; right: 0; @include transition; padding: 25px 0;
    h2 { display: block; @include oldskool; @include font-size(8,8.5); color: #000; font-weight: normal; text-transform: uppercase; text-align: center; }
    #sa_countdown { 
      display: inline-block; width: 400px; @include oldskool; @include font-size(40,42); color: #000; text-align: center; animation-name: wobble; animation-duration: 1s; animation-fill-mode: both; animation-iteration-count: infinite;
    }
  }
}